# Server & Database Configuration
PORT=5001
MONGO_URI="mongodb+srv://prashantJHA:1Prashant%23@chh-cluster.iw5isxv.mongodb.net/portfolio"
JWT_SECRET=qyMAOfGRvwr59A5IKtx9sxy3IoPkEHEWVkerlglyndwXyuoWftRhw8
NODE_ENV=development

# Google Play Console Reviewer Test Credentials (Role: Admin)
PLAYSTORE_TEST_EMAIL=playstore-reviewer@prashantjha.com
PLAYSTORE_TEST_PASSWORD=PlayStoreTest2026!

# Dedicated Web Admin Account Credentials (Role: Admin)
ADMIN_EMAIL=admin@prashantjha.com
ADMIN_PASSWORD=AdminPass2026!

# Google OAuth 2.0 Integration
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Cloudinary Assets Storage (Optional)
CLOUDINARY_CLOUD_NAME=hicklajx
CLOUDINARY_API_KEY=652441162127266
CLOUDINARY_API_SECRET=W-yRvOKP6HLlM00ZRp4tbez2A2k
